if [ -d "$PWD/environment" ]; then
    echo "guix environment directory available, set relevant env vars"
    export XDG_DATA_DIRS="$PWD/environment/share:$XDG_DATA_DIRS"

    # When changing package.scm update this list with guix environment --load=package.scm --root=environment --search-paths >> .envrc
    export PATH="$PWD/environment/bin:$PWD/environment/sbin${PATH:+:}$PATH"
    export CMAKE_PREFIX_PATH="$PWD/environment/${CMAKE_PREFIX_PATH:+:}$CMAKE_PREFIX_PATH"
    export PKG_CONFIG_PATH="$PWD/environment/lib/pkgconfig:$PWD/environment/lib64/pkgconfig${PKG_CONFIG_PATH:+:}$PKG_CONFIG_PATH"
    export XDG_DATA_DIRS="$PWD/environment/share${XDG_DATA_DIRS:+:}$XDG_DATA_DIRS"
    export C_INCLUDE_PATH="$PWD/environment/include${C_INCLUDE_PATH:+:}$C_INCLUDE_PATH"
    export CPLUS_INCLUDE_PATH="$PWD/environment/include/c++:$PWD/environment/include${CPLUS_INCLUDE_PATH:+:}$CPLUS_INCLUDE_PATH"
    export LIBRARY_PATH="$PWD/environment/lib:$PWD/environment/lib64${LIBRARY_PATH:+:}$LIBRARY_PATH"
    export GUIX_LOCPATH="$PWD/environment/lib/locale${GUIX_LOCPATH:+:}$GUIX_LOCPATH"
fi

