[Unit]
Description=gpio-tracer daemon
After=dbus.service

[Service]
Type=dbus
BusName=org.cau.gpiot
ExecStart=/usr/testbed/gpio-tracer/gpiotd
Restart=on-failure

[Install]
WantedBy=default.target