[Unit]
Description=gpio-tracer daemon
After=dbus-org.cau.gpiot.service

[Service]
Type=simple
ExecStart=/usr/testbed/gpio-tracer/sync-server-wrapper.sh
Restart=on-failure

[Install]
WantedBy=default.target